@charset "UTF-8";

body {
  font-family: sans-serif;
  color: #222;
}

.container {
  width: 84%;
  max-width: 1147px;
  margin: 0 auto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.site a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  vertical-align: bottom;
}

.nav,
.catch h1,
.skill h2 {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 134px;
  text-align: center;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 18px;
  color: #479448;
}

.nav li:not(:last-child) {
  margin-right: 55px;
}

@media (min-width: 768px) {
  .nav ul {
    margin-top: 0;
  }
  .header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
}

.hero {
  position: relative;
}

.hero figure img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.hero .catch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.hero .catch h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.hero .catch p {
  font-size: 10px;
}

.hero .wave {
  position: absolute;
  right: 0;
  bottom: -10px;
  left: 0;
  margin: auto;
  width: 100%;
}

@media (min-width: 768px) {
  .hero figure img {
    height: 650px;
  }
  .hero .catch h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .hero .catch p {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  .hero .catch h1 {
    font-size: 56px;
    margin-bottom: 30px;
  }
  .hero .catch p {
    font-size: 24px;
  }
}

.skill {
  padding: 30px 0;
  text-align: center;
}

.skill h2 {
  color: #479448;
  margin-bottom: 20px;
  font-size: 36px;
}
.skill h2 span {
  font-weight: normal;
}

.detail {
  margin-bottom: 50px;
}

.detail figure {
  max-width: 320px;
  margin: auto;
}

.detail h3 {
  margin-bottom: 16px;
  font-size: 30px;
}
.detail p:first-of-type {
  margin-bottom: 30px;
  color: #479448;
  font-size: 19px;
}
.detail p:last-of-type {
  font-size: 14px;
  line-height: 1.8;
}

@media (min-width: 768px) {
  .details {
    display: flex;
    justify-content: space-between;
  }
  .detail {
    width: 31.5%;
  }
  .detail p:last-of-type {
    font-size: 11px;
  }
}

@media (min-width: 950px) {
  .detail p:last-of-type {
    font-size: 14px;
  }
}

.bar {
  padding-bottom: 16px;
  position: relative;
}
.bar::before,
.bar::after {
  display: block;
  content: "";
  background-color: #0fde6c;
  width: 80%;
  height: 1px;
  position: absolute;
  left: 10%;
  bottom: 6px;
}

.content .bar::before {
  width: 200px;
}

@media (min-width: 768px) {
  .bar {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
  }

  .bar::before,
  .bar::after {
    width: 73%;
  }

  .content .bar {
    max-width: none;
  }
  .content .bar::before {
    width: 312px;
  }
  .content .bar::after {
    width: 81%;
  }
}

.footer {
  color: #fff;
  background-size: cover;
  background-color: #479448;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .site {
  text-align: center;
}
.footer .site p {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer .site {
    text-align: left;
  }
  .footer .site p {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
  }
}

.sns {
  display: flex;
  list-style: none;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sns li:not(:last-child) {
  margin-right: 10px;
}
